body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 800px;
  }
  
  .card-header {
    text-align: center;
    margin-bottom: 20px;
  }
  .card-profile{
    text-align:center;
    margin-bottom: 20px;
  }
  
  .card-header h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
  }
  
  .card-header p {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .form-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #c82333;
  }
  
  .card-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .card-footer p {
    color: #666;
    font-size: 14px;
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #dc3545;
  }
  
  .profile-image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 600px) {
    .card {
      width: 95%;
    }
  
    .form-group {
      margin-bottom: 10px;
    }
  
    .form-input {
      font-size: 14px;
    }
  }